<div class="panel panel-default" *ngIf="document as doc">
  <div class="panel-heading">
    {{ doc.name }}
  </div>

  <div class="panel-body">
    <div class="label-value">
      <span class="label">Description:</span>
      <span class="value">{{ doc.description }}</span>
    </div>

    <div class="label-value">
      <span class="label">URL:</span>
      <span class="value">
        <a [href]="doc.url" target="_blank">{{ doc.url }}</a>
      </span>
    </div>

    <div class="label-value" *ngIf="children.length">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let child of children">
          <strong>{{ child.name }}</strong>

          <div *ngIf="child.description">
            {{ child.description }}
          </div>

          <div *ngIf="child.url">
            <a [href]="child.url" target="_blank">{{ child.url }}</a>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-bottom: 10px;">
      <a class="btn btn-primary" (click)="onView()">View</a>
      <a class="btn btn-info" [routerLink]="['edit']" style="margin-left: 6px;">Edit</a>
      <a class="btn btn-danger" (click)="onDelete()" style="margin-left: 6px;">Delete</a>
    </div>

  </div>
</div>
